.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    
}

/* .loginButton{
    margin-top: 3%;
    width: 15%;
    
} */

.margin{
    margin: 11px;
}